[Unit]
Description=Bore service running on the client(%i)

[Service]
Type=forking
EnvironmentFile=/etc/systemd/system/bore-%i.conf
Restart=on-failure
LoadCredential=bore-secret:/etc/systemd/system/bore.pass
ExecStart=/bin/sh -c 'bore local ${BORE_LOCAL_PORT} --to swag-code.com --port ${BORE_REMOTE_PORT} --secret $(cat "$CREDENTIALS_DIRECTORY/bore-secret") &'

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target
