[Unit]
Description=Bore service running on the server

[Service]
Type=forking
Restart=on-failure
LoadCredential=bore-secret:/etc/systemd/system/bore.pass
ExecStart=/bin/sh -c 'bore server --secret $(cat "$CREDENTIALS_DIRECTORY/bore-secret") &'

[Install]
WantedBy=network-online.target
